extends layout

block content
    .gridContainer3
        .countryBody
            .countryHeader
                img(src=country.flagUrl)
                h2.middle3=country.name
            ul.omg3
                each stamp in stamps
                    if (stamp.name!=='undefined')
                        a(href="/stamps/"+stamp.id id=id+'_stamp').tripName3
                            img(src=stamp.imgURL class="stampImg mask1" name=stamp.name)
                            h3=stamp.name
