extends layout

block content
	.gridContainer
		.leftSideColumn
			.leftColumnTitleDecore

			.medium
				.localPassport

				ul.ImgContainer
					li
						.passport_btn(class= "passport_btn")
							a.words1 Been To
							img.localImg(src="/beento.jpg"  value=passportstampids[0])
				.goToPassport

				ul.ImgContainer
					li
						.passport_btn(class= "passport_btn")
							a.words2 Want To Go
							img.localImg(src="/want.jpg" value=passportstampids[1])
				.visitedPassport

				ul.ImgContainer
					li
						.passport_btn(class= "passport_btn")
							a.words3 Local
							img.localImg(src="/local.jpg" value=passportstampids[2])
		.profileBody
			.myStampsHeader

			ul.omg
				each id, name in resObj
					if (name!=='undefined')
						a(href="/stamps/"+id id=id+'_stamp').tripName
							img(src=obj[name] class= 'mask7')
							h3=name

		.rightSideColumn
			.explore


				select.need
					each value, key in tagsObj
						option.default(value="default" selected disabled hidden) Filter by Tag
						option(id=`${value}` class='tags' value=`${value}`)=key
	block scripts
		script(src='../javascripts/profile.js')
