extends layout

block content
	.sub_a
		a(href='/'): button.btn2 Home
		if authenticated
			a(href=`/passports`): button.btn2 My Passports
		a(href='/team'): button.btn2 Meet The Team
	h1.myProfileHeader My Profile
	.gridContainer
		.leftSideColumn
			.leftColumnTitleDecore
				h2.leftSideColumnTitle Passports
			.passportContainer1
				ul
					.localPassport
						if passportLocal
							each val, key in passportLocal
								li(class=key value=val) #{val}
					ul.ImgContainer
						li
							a(href='/passports/'+passportLocal.id)
								img.localImg(src="https://i.ytimg.com/vi/NgDdwl67qNY/maxresdefault.jpg" class="mask2")
					.goToPassport
						if passportGoingTo
							each val, key in passportGoingTo
								li(class=key value=val) #{val}
					ul.ImgContainer
						li
							a(href='/passports/'+passportGoingTo.id)
								img.localImg(src="https://handluggageonly.co.uk/wp-content/uploads/2016/03/Positano-Weather.jpg" class="mask2")
					.visitedPassport
						if passportVisited
							each val, key in passportVisited
								li(class=key value=val) #{val}
					ul.ImgContainer
						li
							a(href='/passports/'+passportVisited.id)
								img.localImg(src="https://i.ytimg.com/vi/x8gB3zoATaw/maxresdefault.jpg" class="mask2")
		.profileBody
			.myStampsHeader
				h2 My Stamps
			ul
				each id, name in resObj
					a(href="/stamps/"+id id=id+'_stamp').tripName
						h3=name
							li.imgLiTag
								img(src=obj[name] class="stampImg mask1" name=name)
		.rightSideColumn
			.explore
				.exploreHeader
					.exploreHeaderDecore
						h2 Explore by Interest
					.intrestTags
					ul
					each value, key in tagsObj
						li.tagContainer
							div(id=`${value}` class='tags' )=key
			.Comments
				.CommentsDecore
					h2 Search by review
				.commentsContainer
				ul
					each comment, index in comments
						a(href="")
							li(value=comment class=comment+index): p= comment
	block scripts
		script(src='../javascripts/profile.js')
