extends layout

block content
	.sub_a
		a(href='/'): button.btn2 Home
		if authenticated
			a(href=`/passports`): button.btn2 My Passports
		a(href='/team'): button.btn2 Meet The Team

	.gridContainer
		.leftSideColumn
			.leftColumnTitleDecore
				h2.leftSideColumnTitle Passports
			.medium
				.localPassport

				ul.ImgContainer
					li
						a(href='/passports/'+passportLocal.id)
							img.localImg(src="/Visited.png" class="mask2")
				.goToPassport

				ul.ImgContainer
					li
						a(href='/passports/'+passportGoingTo.id)
							img.localImg(src="/WantTo.png" class="mask2")
				.visitedPassport

				ul.ImgContainer
					li
						a(href='/passports/'+passportVisited.id)
							img.localImg(src="/Local.png" class="mask2")
		.profileBody
			.myStampsHeader
				h2 My Stamps
			ul
				each id, name in resObj
					if (name!=='undefined')
						a(href="/stamps/"+id id=id+'_stamp').tripName
							h3=name
								li.imgLiTag
									img(src=obj[name] class="stampImg mask1" name=name)

		.rightSideColumn
			.explore
				h2.leftSideColumnTitle Explore

				select.need
					each value, key in tagsObj
						option.default(value="default" selected disabled hidden) Filter by Tag
						option(id=`${value}` class='tags' value=`${value}`)=key
	block scripts
		script(src='../javascripts/profile.js')
